# dependencies
/node_modules
/dist

# env var
.env

# log shtuff
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# database
fini.db
fini.db.sqlite
chat.json
ml-models/model.js
/pb_data
/pb_migrations
update.txt

# rewind stuff
rewind*.csv

# images
citation.gif
/*/test_images/*
**/citation.gif
/**/generated card images/*